fastapi==0.111.0
uvicorn==0.29.0
SQLAlchemy>=2.0.40
alembic==1.13.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
pydantic-settings==2.2.1
boto3==1.34.119
python-magic==0.4.27
redis==5.0.1
python-json-logger
razorpay
